<p>
  <strong>Game Id:</strong>
  <%= @review.game.id %>
</p>
<p>
  <strong>Reviewed game:</strong>
  <%= @review.reviewed_game %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<%= link_to 'Back', game_reviews_path %>
